// Two-photo-users

.photo-users__advertising {
  @include FontStandart;
  font-size: 14px;
  line-height: 3;

  @include txtColor283645;
}

.top {
  @include FontBold;
  font-size: 12px;
  line-height: 2.4;

  @include txtColorWhite;
}

.photo-users__title {
  @include FontBold;
  font-size: 13px;
  line-height: 2.4;

  @include txtColor283645;
}

.last-time-use {
  @include FontStandart;
  font-size: 14px;
  line-height: 2.4;
  color: #5e6873;
}

.photo-users__info {
  @include FontStandart;
  font-size: 14px;
  line-height: 2.4;

  @include txtColor283645;
}

.like,
.like-total {
  @include FontStandart;
  font-size: 12px;
  line-height: 2.4;
  color: #d22856;
}

// Two-photo-users
