// Three-contest-users

.contest-title {
  font-family: "Open Sans", "Arial", sans-serif;
  font-weight: 300;
  font-size: 18px;

  line-height: normal;
  color: $white-color;
}

// Three-contest-users
