// Three-contest-users

.contest {
  background: no-repeat url("../img/bg-back-mobile@1x.jpg");
  border-width: 1px;
  border-style: solid;
  border-color: $black-color;
  margin-left: 20px;
  margin-right: 20px;
  padding-top: 34px;
  padding-bottom: 53px;
}

.contest__title {
  font-weight: 300;
  font-size: 18px;
  line-height: normal;
  color: $white-color;
}

// Three-contest-users
