// One-advantages

.advantages {
  margin-left: 20px;
  margin-right: 20px;
  padding-top: 46px;

  background-color: $white-color;

  border: $border-width $border-style $border-color;
}

// One-advantages
