// page-footer

.page-footer {
  background-color: $white-color;
  border: 1px solid $black-color;
  margin-left: 20px;
  margin-right: 20px;
  padding-top: 40px;
  padding-bottom: 40px;
}

// page-footer
