// photo-users

.photo-users__desktop {
  display: none;
}

.photo-users__bg-main {
  width: 100vw;

  margin-left: -20px;
  margin-right: -20px;

  background-color: $white-color;
}

.photo-users {
  margin-top: 35px;
  margin-left: 20px;
  margin-right: 20px;

  background-color: $white-color;
  border: 1px solid #000000;

}

.photo-users__text-desktop {
  display: none;
}

.photo-users__bg {
  background: no-repeat url("../img/bg-back-mobile@1x.jpg");
  background-size: cover;

  width: 100vw;
  min-height: 170px;

  margin-top: -25px;
  margin-left: -21px;
  margin-right: -20px;
}

.photo-users__text {
  font-weight: 300;
  font-size: 24px;
  text-align: center;
  line-height: normal;
  color: $white-color;
}

.photo-users__list {
  margin-top: 55px;
}

.photo-users__item {
  margin-bottom: 20px;
}

.photo-users__item--up {
  background-color: $lite-white-color;

  padding-left: 20px;
  padding-right: 20px;
}

.photo-users__top {
  background-color: $crimson-color;
  font-weight: 700;
  font-size: 12px;
  line-height: 2.4;
  color: $white-color;
}

.photo-users__link {
  display: block;

  margin-right: -42px;

  position: relative;
  right: 21px;
}

.photo-users__pic-user-main {
  width: 100vw;
}

.photo-users__pic-user-main-tablet {
  display: none;
}

.photo-users__pic-user-tablet {
  display: none;
}

.photo-users__pic-user-main-desktop {
  display: none;
}

.photo-users__pic-user {
  width: 100%;
}

.photo-users__info-header {
  padding-top: 25px;
  padding-left: 17px;
  padding-bottom: 26px;
}

.photo-users__advertising {
  font-weight: 400;
  font-size: 14px;
  line-height: 3;
  color: $one-dark-blue-color;
}

.photo-users__title {
  font-weight: 700;
  font-size: 14px;
  line-height: 2.4;
  color: $one-dark-blue-color;
}

.photo-users__last-time-use {
  font-weight: 400;
  font-size: 12px;
  line-height: 2.4;
  color: $gray-blue-color;
}

.photo-users__users-like {
  display: flex;
}

.photo-users__info {
  font-weight: 400;
  font-size: 14px;
  line-height: 2.4;
  color: $one-dark-blue-color;

  padding-left: 17px;
  padding-right: 42px;
}

.photo-users__like,
.photo-users__like-total {
  font-weight: 400;
  font-size: 12px;
  line-height: 2.4;
  color: $crimson-color;

  padding-left: 17px;
}

@media (min-width: $tablet-width) {
  .photo-users__item-flex {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }

  .photo-users__item--up-flex {
    width: 260px;
    min-height: 455px;
  }

  .photo-users__pic-user {
    display: none;
  }

  .photo-users__pic-user-main {
    display: none;
  }

  .photo-users__pic-user-tablet {
    display: block;
    width: auto;
  }

  .photo-users__pic-user-desktop {
    display: none;
  }

  .photo-users__pic-user-main-tablet {
    display: block;
    width: 100%;
  }

  .photo-users__bg {
    background: no-repeat url("../img/bg-back-tablet@1x.jpg");
    background-size: cover;

    min-height: 329px;
  }
}

@media (min-width: $desktop-width) {
  .photo-users__desktop {
    display: block;
    min-height: 281px;
  }

  .photo-users__text-desktop {
    display: block;
  }
  .photo-users {
    margin-top: 0px;
    margin-left: 120px;
    margin-right: 120px;
  }

  .photo-users__bg {
    width: 100vw;
    margin-left: -121px;
    display: none;
  }

  .photo-users__link {
    margin-left: -121px;
    margin-right: -121px;
    right: 0;
  }

  .photo-users__pic-user-main-tablet {
    display: none;
  }

  .photo-users__pic-user-main-desktop {
    display: block;
    width: 100vw;
  }

  .photo-users__pic-user-tablet {
    display: none;
  }

  .photo-users__pic-user-desktop {
    display: block;
    margin-left: 100px;
  }
}

// photo-users
