// Two-photo-users

.photo-users {
  background-color: $white-color;
  border: $border-width $border-style $border-color;
  margin-top: 35px;
  margin-left: 20px;
  margin-right: 20px;
}


// Two-photo-users
