// One-advantages

.advantages__title {
  font-family: "Open Sans", "Arial", sans-serif;
  font-weight: 300;
  font-size: 24px;

  line-height: normal;
  color: $one-dark-blue-color;
}

// One-advantages
