@font-face {
  font-family: "Open Sans";
  src: url("../fonts/opensans.woff2") format("woff2"), url("../fonts/OpenSans-Regular.woff") format("woff");
  font-style: normal;
  font-weight: normal; }

@font-face {
  font-family: "Open Sans Bold";
  src: url("../fonts/opensansbold.woff2") format("woff2"), url("../fonts/opensansbold.woff") format("woff");
  font-weight: bold; }

@font-face {
  font-family: "Open Sans Light";
  src: url("../fonts/opensanslight.woff2") format("woff2"), url("../fonts/opensanslight.woff") format("woff");
  font-weight: lighter; }

body {
  font-family: "Open Sans", "Arial", sans-serif;
  line-height: normal; }

.page-header {
  background-color: #283645;
  border-width: 1px;
  border-style: solid;
  border-color: #000000;
  margin-top: 22px;
  margin-left: 20px;
  margin-right: 20px; }

.main-nav {
  font-family: "Open Sans Bold", "Arial", sans-serif;
  font-size: 18px;
  line-height: 3.2;
  background-color: #ffffff; }

.page-footer {
  background-color: #ffffff;
  border-width: 1px;
  border-style: solid;
  border-color: #000000;
  margin-left: 20px;
  margin-right: 20px;
  padding-top: 40px;
  padding-bottom: 40px; }

.copyright__text {
  font-family: "Open Sans", "Arial", sans-serif;
  font-size: 11px;
  line-height: 1.8;
  background-color: #283645; }

.advantages {
  margin-left: 20px;
  margin-right: 20px;
  padding-top: 46px;
  background-color: #ffffff;
  border-width: 1px;
  border-style: solid;
  border-color: #000000; }

.advantages__title {
  font-family: "Open Sans Light", "Arial", sans-serif;
  font-size: 24px;
  line-height: normal;
  background-color: #283645; }

.slider__list {
  background-color: #f2f2f2; }

.advantages__title__slider {
  font-family: "Open Sans Bold", "Arial", sans-serif;
  font-size: 18;
  line-height: 1;
  background-color: #000000; }

.advantages__description {
  font-family: "Open Sans", "Arial", sans-serif;
  font-size: 14;
  line-height: 2.4;
  background-color: #283645; }

.application {
  background: no-repeat url("../img/bg-back-mobile@1x.jpg");
  border-width: 1px;
  border-style: solid;
  border-color: #000000;
  margin-left: 20px;
  margin-right: 20px;
  padding-bottom: 35px; }

.application_head {
  font-family: "Open Sans Bold", "Arial", sans-serif;
  font-size: 18px;
  line-height: normal;
  background-color: #ffffff; }

.application__apps {
  background-color: #1d2631; }

.application__list__link {
  font-family: "Open Sans Bold", "Arial", sans-serif;
  font-size: 18px;
  line-height: 1.8;
  background-color: #ffffff; }

.application__platform {
  font-family: "Open Sans Light", "Arial", sans-serif;
  font-size: 14px;
  line-height: 2.4;
  color: #868b91; }

.photo-users {
  background-color: #ffffff;
  border-width: 1px;
  border-style: solid;
  border-color: #000000;
  margin-top: 35px;
  margin-left: 20px;
  margin-right: 20px; }

.photo-users__text {
  font-family: "Open Sans Light", "Arial", sans-serif;
  font-size: 24px;
  line-height: normal;
  background-color: #ffffff; }

.photo-users__advertising {
  font-family: "Open Sans", "Arial", sans-serif;
  font-size: 14px;
  line-height: 3;
  background-color: #283645; }

.top {
  font-family: "Open Sans Bold", "Arial", sans-serif;
  font-size: 12px;
  line-height: 2.4;
  background-color: #ffffff; }

.photo-users__title {
  font-family: "Open Sans Bold", "Arial", sans-serif;
  font-size: 13px;
  line-height: 2.4;
  background-color: #283645; }

.last-time-use {
  font-family: "Open Sans", "Arial", sans-serif;
  font-size: 14px;
  line-height: 2.4;
  color: #5e6873; }

.photo-users__info {
  font-family: "Open Sans", "Arial", sans-serif;
  font-size: 14px;
  line-height: 2.4;
  background-color: #283645; }

.like,
.like-total {
  font-family: "Open Sans", "Arial", sans-serif;
  font-size: 12px;
  line-height: 2.4;
  color: #d22856; }

.photo-users__bg {
  background: no-repeat url("../img/bg-back-mobile@1x.jpg"); }

.photo-users__item--up {
  background-color: #f2f2f2; }

.photo-users__list {
  margin-top: 55px; }

.photo-users__item {
  margin-bottom: 20px; }

.info-header {
  padding-top: 25px;
  padding-left: 17px;
  padding-bottom: 26px; }

.contest-users {
  background: no-repeat url("../img/bg-back-mobile@1x.jpg");
  border-width: 1px;
  border-style: solid;
  border-color: #000000;
  margin-left: 20px;
  margin-right: 20px;
  padding-top: 34px;
  padding-bottom: 53px; }

.contest-title {
  font-family: "Open Sans Light", "Arial", sans-serif;
  font-size: 18px;
  line-height: normal;
  background-color: #ffffff; }

/*# sourceMappingURL=style.css.map */
