// One-application

.application__apps {
  background-color: $two-dark-blue-color;
}

.application__list__link {
  font-family: "Open Sans", "Arial", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.8;

  color: $white-color;
}

.application__platform {
  font-family: "Open Sans", "Arial", sans-serif;
  font-weight: 300;
  font-size: 14px;
  line-height: 2.4;
  color: #868b91;
}

// One-application
