.photo-users {
  background-color: #ffffff;
  border: 1px solid black;
  margin-top: 35px;
  margin-left: 20px;
  margin-right: 20px;
}

.photo-users__bg {
  background: no-repeat url("../img/bg-back-mobile@1x.jpg");
}

.photo-users__item--up {
  background-color: #f2f2f2;
}

.photo-users__list {
  margin-top: 55px;
}

.photo-users__item {
  margin-bottom: 20px;
}

.info-header {
  padding-top: 25px;
  padding-left: 17px;
  padding-bottom: 26px;
}
