.contest-users {
  background: no-repeat url("../img/bg-back-mobile@1x.jpg");
  border: 1px solid black;
  margin-left: 20px;
  margin-right: 20px;
}
.contest-users {
  padding-top: 34px;
  padding-bottom: 53px;
}
