// Шрифты, подключаемые в проект

//

// Open Sans
@font-face {
  font-family: "Open Sans";
  src: url("../fonts/opensans.woff2") format("woff2"),
    url("../fonts/OpenSans-Regular.woff") format("woff");
  font-style: normal;
  font-weight: normal;
}
// Open Sans

//

// Open Sans Bold
@font-face {
  font-family: "Open Sans Bold";
  src: url("../fonts/opensansbold.woff2") format("woff2"),
    url("../fonts/opensansbold.woff") format("woff");
  font-weight: bold;
}
// Open Sans Bold

//

// Open Sans Light
@font-face {
  font-family: "Open Sans Light";
  src: url("../fonts/opensanslight.woff2") format("woff2"),
    url("../fonts/opensanslight.woff") format("woff");
  font-weight: lighter;
}
// Open Sans Light

//

// Шрифты, подключаемые в проект
