// миксины

@mixin txtColorWhite {
  color: #ffffff;
}

@mixin txtColor283645 {
  background-color: #283645;
}

@mixin txtColorBlack {
  background-color: #000000;
}

@mixin bgColorWhite {
  background-color: #ffffff;
}

@mixin bgColor283645 {
  background-color: #283645;
}

@mixin bgColorf2f2f2 {
  background-color: #f2f2f2;
}

@mixin bgColor1d2631 {
  background-color: #1d2631;
}

@mixin border1pxSolidBlack(
  $border-width: 1px,
  $border-style: solid,
  $border-color: #000000
) {
  border-width: $border-width;
  border-style: $border-style;
  border-color: $border-color;
}

// миксины
