// One-advantages

.slider__list {
  background-color: $lite-white-color;
}

.advantages__title__slider {
  font-family: "Open Sans", "Arial", sans-serif;
  font-weight: 700;
  font-size: 18;
  line-height: 1;

  color: $black-color;
}

.advantages__description {
  font-family: "Open Sans", "Arial", sans-serif;
  font-weight: 400;
  font-size: 14;
  line-height: 2.4;

  color: $one-dark-blue-color;
}

// One-advantages
